{
  "openapi": "3.0.3",
  "info": {
    "title": "Lurus API V2 - Multi-Tenant Gateway",
    "description": "Lurus API V2 provides multi-tenant access to LLM API gateway services.\n\n## Authentication\n\nV2 authenticates through OpenID Connect. Which provider, which issuer and\nwhich client id are deploy-time configuration, not part of this contract:\nthe console redirects to whatever provider the deployment was given.\n\n1. Redirect the user to `GET /api/v2/{tenant_slug}/auth/login`\n2. The user authenticates with the deployment's configured OIDC provider\n3. The provider calls back to `GET /api/v2/oauth/callback`\n4. Later requests carry the session cookie, or a bearer token for the\n   machine callers that hold one (`OIDCBearer` below)\n\n## Tenant Isolation\n\nAll tenant-specific endpoints are scoped by `{tenant_slug}` in the URL path.\nUsers can only access data within their assigned tenant.\n\n## Rate Limiting\n\n- Every route below `/api/v2` sits behind one shared bucket: 600 requests\n  per 180 s per source IP (`middleware.GlobalV2RateLimit`,\n  api-v2-router.go). It is keyed by the client address, NOT by account or\n  session, so everybody behind one NAT or CGNAT egress address spends the\n  same budget - an office on a single public address shares one bucket.\n- Those numbers are the shipped defaults. An operator retunes them with\n  `GLOBAL_V2_RATE_LIMIT` and `GLOBAL_V2_RATE_LIMIT_DURATION`, so the limit\n  a given deployment enforces may differ.\n- A limit of 0 DISABLES the bucket; it does not mean unlimited. To turn the\n  limiter off deliberately, set `GLOBAL_V2_RATE_LIMIT_ENABLE=false`.\n- A reject is `429` with `Retry-After`, `X-RateLimit-Limit`,\n  `X-RateLimit-Remaining`, `X-RateLimit-Scope: ip`,\n  `X-RateLimit-Type: requests`, and an empty body.\n- Individual routes may add a narrower bucket of their own on top of this\n  one - see the 429 on `POST /api/v2/{tenant_slug}/redeem`.\n- Relay traffic is metered by quota, not by this bucket.\n",
    "version": "2.0.0",
    "contact": {
      "name": "Lurus Support",
      "email": "support@lurus.cn"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://lurus.cn/terms"
    }
  },
  "servers": [
    {
      "url": "https://hub.lurus.cn",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "OAuth",
      "description": "OAuth 2.0 / OpenID Connect authentication flows"
    },
    {
      "name": "User",
      "description": "User profile management"
    },
    {
      "name": "Channels",
      "description": "LLM provider channel management"
    },
    {
      "name": "Routing",
      "description": "Decision-routing policies"
    },
    {
      "name": "Tokens",
      "description": "API token management"
    },
    {
      "name": "ChatSessions",
      "description": "Console chat sessions (client-driven persistence)"
    },
    {
      "name": "Billing",
      "description": "Invoice and top-up history. Read-only: this spec documents no route that moves money."
    },
    {
      "name": "Logs",
      "description": "Usage logs"
    },
    {
      "name": "Redemptions",
      "description": "Redemption codes"
    },
    {
      "name": "Platform Admin",
      "description": "Platform-level administration"
    },
    {
      "name": "Projects",
      "description": "Cost-attribution projects and their members"
    },
    {
      "name": "Tenant Admin",
      "description": "Tenant-admin self-service: invites, member roles, audit trail and model allow-list"
    },
    {
      "name": "Status",
      "description": "Anonymous availability views"
    }
  ],
  "paths": {
    "/api/v2/{tenant_slug}/auth/login": {
      "get": {
        "tags": [
          "OAuth"
        ],
        "summary": "Initiate OAuth Login",
        "description": "Redirects to the configured OIDC provider's login page. A PKCE challenge is sent only when OIDC_ENABLE_PKCE=true, which is off by default.\nAfter successful authentication, user is redirected to callback URL.\n",
        "operationId": "zitadelLoginRedirect",
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "name": "redirect_url",
            "in": "query",
            "description": "URL to redirect after successful login",
            "schema": {
              "type": "string",
              "example": "/console"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to the OIDC provider's login page",
            "headers": {
              "Location": {
                "description": "Authorization URL at the configured OIDC provider",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "Tenant not found"
          }
        }
      }
    },
    "/api/v2/oauth/callback": {
      "get": {
        "tags": [
          "OAuth"
        ],
        "summary": "OAuth Callback",
        "description": "Handles the OAuth callback from the configured OIDC provider.\nExchanges authorization code for tokens and creates session.\n",
        "operationId": "zitadelCallback",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "description": "Authorization code issued by the OIDC provider",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "description": "State parameter for CSRF protection",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to original URL with session established"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v2/auth/session-info": {
      "get": {
        "tags": [
          "OAuth"
        ],
        "summary": "Get Session Info",
        "description": "Returns current user session data for frontend",
        "operationId": "getSessionInfo",
        "responses": {
          "200": {
            "description": "Session information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionInfo"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v2/oauth/logout": {
      "post": {
        "tags": [
          "OAuth"
        ],
        "summary": "Logout",
        "description": "Logs out at the OIDC provider and clears the session",
        "operationId": "zitadelLogout",
        "responses": {
          "200": {
            "description": "Successfully logged out"
          },
          "302": {
            "description": "Redirect to the OIDC provider's logout URL"
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/user/me": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get Current User",
        "description": "Returns the current authenticated user's profile",
        "operationId": "getSelfV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          }
        ],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "User"
        ],
        "summary": "Update Current User",
        "description": "Updates the current user's profile",
        "operationId": "updateSelfV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated user profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/channels": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "List Channels",
        "description": "Lists all available LLM provider channels",
        "operationId": "listChannelsV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Search keyword",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of channels",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Channels"
        ],
        "summary": "Create Channel",
        "description": "Creates a new LLM provider channel (Admin only)",
        "operationId": "createChannelV2",
        "security": [
          {
            "OIDCBearer": [
              "admin"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChannelCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Channel created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ChannelConfigInvalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/channels/{id}": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "Get Channel",
        "description": "Gets a specific channel by ID",
        "operationId": "getChannelV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "$ref": "#/components/parameters/ChannelId"
          }
        ],
        "responses": {
          "200": {
            "description": "Channel details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Channels"
        ],
        "summary": "Update Channel",
        "description": "Updates a channel (Admin only)",
        "operationId": "updateChannelV2",
        "security": [
          {
            "OIDCBearer": [
              "admin"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "$ref": "#/components/parameters/ChannelId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChannelUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Channel updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ChannelConfigInvalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Channels"
        ],
        "summary": "Delete Channel",
        "description": "Deletes a channel (Admin only)",
        "operationId": "deleteChannelV2",
        "security": [
          {
            "OIDCBearer": [
              "admin"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "$ref": "#/components/parameters/ChannelId"
          }
        ],
        "responses": {
          "204": {
            "description": "Channel deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/models": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "List Model Catalog",
        "description": "Paginated model catalogue with a whitelist projection. This is NOT the\nOpenAI /v1/models envelope - that one belongs to the relay surface and is\ndocumented in relay.json.",
        "operationId": "listModelsV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size, 1-100 (values above 100 are clamped)",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "required": false,
            "description": "Substring match on the model name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vendor",
            "in": "query",
            "required": false,
            "description": "Filter by vendor name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Model catalogue page",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ModelCatalogEntry"
                          }
                        },
                        "total": {
                          "type": "integer"
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "vendor_counts": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "integer"
                          },
                          "description": "Model count per vendor name"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing tenant slug or invalid pagination",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Tenant not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/routing-policies/{model}": {
      "get": {
        "tags": [
          "Routing"
        ],
        "summary": "Get Decision Routing Policy",
        "description": "Tenant-admin read of the decision-routing policy for one public model. The tenant is always the caller's own; another tenant's policy is simply not found.",
        "operationId": "getRoutingPolicyV2",
        "security": [
          {
            "SessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "Public model name (a single path segment; names containing '/' cannot be addressed).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Routing policy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoutingPolicyResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "No policy for this model (error_code POLICY_NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Routing"
        ],
        "summary": "Create or Replace Decision Routing Policy",
        "description": "Creates or replaces the policy for one public model (tenant admin). Candidates: 1-32, criteria at most 2048 bytes each, instructions at most 4096 bytes, min_confidence within [0, 1] (omitted = 0.65). Every candidate model must be routable by the tenant. The change is audited as routing.policy_set.",
        "operationId": "putRoutingPolicyV2",
        "security": [
          {
            "SessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "Public model name (a single path segment; names containing '/' cannot be addressed).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoutingPolicyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Saved routing policy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoutingPolicyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation failure; error_code is one of INVALID_REQUEST, INVALID_MODEL, INVALID_MIN_CONFIDENCE, INSTRUCTIONS_TOO_LONG, INVALID_EVALUATOR, EVALUATOR_REQUIRED, INVALID_CANDIDATES, INVALID_CANDIDATE_ID, DUPLICATE_CANDIDATE, INVALID_CANDIDATE_MODEL, MODEL_NOT_ROUTABLE, INVALID_CRITERIA, CRITERIA_TOO_LONG, INVALID_DEFAULT_CANDIDATE, DEFAULT_CANDIDATE_REQUIRED. The policy is validated as a whole; nothing is written on failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "delete": {
        "tags": [
          "Routing"
        ],
        "summary": "Delete Decision Routing Policy",
        "description": "Removes the policy; the public model then routes without a decision step. Audited.",
        "operationId": "deleteRoutingPolicyV2",
        "security": [
          {
            "SessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "name": "model",
            "in": "path",
            "required": true,
            "description": "Public model name (a single path segment; names containing '/' cannot be addressed).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "No policy for this model (error_code POLICY_NOT_FOUND)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/models/performance": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "Per-Model Latency and Error Rate",
        "description": "p50/p95 latency and error rate per model over the last `hours`, for\nthe caller's tenant only (cached per pod for 5 minutes). Every member\ngets the quality fields; tenant admins also get the volume fields\n(requests, errors, total_tokens, quota, latency_samples).\n`enough_samples` is false below `min_samples` latency samples — the\npercentiles are then noise, not a measurement.\n",
        "operationId": "listModelPerformanceV2",
        "security": [
          {
            "ZitadelJWT": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "name": "hours",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                24,
                168
              ],
              "default": 24
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Per-model performance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "hours": {
                          "type": "integer"
                        },
                        "cached_at": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "min_samples": {
                          "type": "integer"
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "model_name": {
                                "type": "string"
                              },
                              "p50_latency_ms": {
                                "type": "integer"
                              },
                              "p95_latency_ms": {
                                "type": "integer"
                              },
                              "error_rate": {
                                "type": "number"
                              },
                              "enough_samples": {
                                "type": "boolean"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "hours is not one of 1, 24, 168 (INVALID_WINDOW)"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/tokens": {
      "get": {
        "tags": [
          "Tokens"
        ],
        "summary": "List Tokens",
        "description": "Lists all API tokens for the current user",
        "operationId": "listTokensV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "name": "scope",
            "in": "query",
            "required": false,
            "description": "Set to tenant (tenant admin only) to list every token of the tenant, adding user_id, owner_name and content_retention per item; also accepts user_id, project_id, status and keyword filters.",
            "schema": {
              "type": "string",
              "enum": [
                "tenant"
              ]
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "project_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tokens",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Tokens"
        ],
        "summary": "Create Token",
        "description": "Creates a new API token",
        "operationId": "createTokenV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Token created (includes full key, only shown once)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenWithKey"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/tokens/{id}": {
      "put": {
        "tags": [
          "Tokens"
        ],
        "summary": "Update Token",
        "description": "Updates an API token",
        "operationId": "updateTokenV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "$ref": "#/components/parameters/TokenId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Token"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Tokens"
        ],
        "summary": "Delete Token",
        "description": "Deletes an API token",
        "operationId": "deleteTokenV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "$ref": "#/components/parameters/TokenId"
          }
        ],
        "responses": {
          "204": {
            "description": "Token deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/chat/sessions": {
      "get": {
        "tags": [
          "ChatSessions"
        ],
        "summary": "List Chat Sessions",
        "description": "Lists the caller's own saved chat sessions, most-recently-updated first.",
        "operationId": "listChatSessionsV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          }
        ],
        "responses": {
          "200": {
            "description": "Chat sessions listed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "ChatSessions"
        ],
        "summary": "Create Chat Session",
        "description": "Saves a conversation the client already holds — the request carries the full turn array, not a single new turn to append.",
        "operationId": "createChatSessionV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          }
        ],
        "responses": {
          "200": {
            "description": "Chat session created"
          },
          "400": {
            "description": "Bad request — error_code is CHAT_SESSION_LIMIT_REACHED (the caller already owns 200 sessions in this tenant) or INVALID_REQUEST (oversized/invalid title, model, or messages).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/chat/sessions/{id}": {
      "get": {
        "tags": [
          "ChatSessions"
        ],
        "summary": "Get Chat Session",
        "description": "Fetches one saved chat session (plus its messages) the caller owns.",
        "operationId": "getChatSessionV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "$ref": "#/components/parameters/ChatSessionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Chat session fetched"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "ChatSessions"
        ],
        "summary": "Update Chat Session",
        "description": "Partially updates title and/or model, and/or REPLACES the full message list, of a chat session the caller owns.",
        "operationId": "updateChatSessionV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "$ref": "#/components/parameters/ChatSessionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Chat session updated"
          },
          "400": {
            "description": "Bad request — error_code is INVALID_REQUEST (oversized/invalid title, model, or messages). A rejected update leaves the stored session unchanged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "ChatSessions"
        ],
        "summary": "Delete Chat Session",
        "description": "Deletes a chat session (and its messages) the caller owns.",
        "operationId": "deleteChatSessionV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "$ref": "#/components/parameters/ChatSessionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Chat session deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/billing/invoices": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "List Monthly Invoices",
        "description": "Monthly spend buckets for the calling user inside this tenant. Both query\nparameters are optional; the range is always clamped to at most 12 calendar\nmonths. There is deliberately no amount_usd field - no FX source is wired\ninto this endpoint.",
        "operationId": "listInvoicesV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "First month, YYYY-MM",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{4}-[0-9]{2}$"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "Last month, YYYY-MM",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{4}-[0-9]{2}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Monthly spend buckets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/InvoiceMonth"
                          }
                        },
                        "total_invoices": {
                          "type": "integer"
                        },
                        "summary": {
                          "type": "object",
                          "properties": {
                            "total_quota": {
                              "type": "integer",
                              "format": "int64"
                            },
                            "total_cny": {
                              "type": "number"
                            },
                            "mtd_quota": {
                              "type": "integer",
                              "format": "int64",
                              "description": "Billable quota in the current UTC calendar month"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid from/to range",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "description": "Invoice aggregation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/billing/statement": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Monthly Statement",
        "description": "Tenant monthly statement grouped by project, employee, token or model. The month is a calendar month in the requested time zone. Tenant admins see the whole tenant; department leads see only their own projects (the unassigned project 0 bucket is hidden). format=csv exports the same statement for the whole tenant. Totals are exactly the sum of the rows. Amounts are in 0.0001 CNY.",
        "operationId": "getBillingStatementV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "name": "month",
            "in": "query",
            "required": false,
            "description": "Calendar month, YYYY-MM (default is the current month in tz)",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{4}-[0-9]{2}$"
            }
          },
          {
            "name": "tz",
            "in": "query",
            "required": false,
            "description": "IANA time zone",
            "schema": {
              "type": "string",
              "default": "Asia/Shanghai"
            }
          },
          {
            "name": "group_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "project",
                "employee",
                "token",
                "model"
              ],
              "default": "project"
            }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "csv returns a text/csv download of the whole tenant statement (same grouping, month and totals row)",
            "schema": {
              "type": "string",
              "enum": [
                "csv"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Statement rows and totals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "month": {
                          "type": "string"
                        },
                        "tz": {
                          "type": "string"
                        },
                        "group_by": {
                          "type": "string"
                        },
                        "start": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "end": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "rows": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/StatementRow"
                          }
                        },
                        "totals": {
                          "$ref": "#/components/schemas/StatementRow"
                        }
                      }
                    }
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid month, tz or group_by",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Neither tenant admin nor department lead",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Statement aggregation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/billing/topups": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "List Top-ups",
        "description": "Lists user's top-up history",
        "operationId": "getTopUpsV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Top-up history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopUpList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/logs": {
      "get": {
        "tags": [
          "Logs"
        ],
        "summary": "Get User Logs",
        "description": "Gets usage logs for the current user",
        "operationId": "getLogsV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "name": "model",
            "in": "query",
            "description": "Filter by model name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "description": "Start time (Unix timestamp)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "End time (Unix timestamp)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Usage logs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/logs/all": {
      "get": {
        "tags": [
          "Logs"
        ],
        "summary": "Get All Logs",
        "description": "Gets all users' logs (Admin only)",
        "operationId": "getAllLogsV2",
        "security": [
          {
            "OIDCBearer": [
              "admin"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Filter by user ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All logs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/redeem": {
      "post": {
        "tags": [
          "Redemptions"
        ],
        "summary": "Redeem Code",
        "description": "Redeems a redemption code and credits the quota to the calling user.\nMounted at /api/v2/{tenant_slug}/redeem (api-v2-router.go), NOT under the\n/redemptions collection. Guarded by a 5-requests-per-60-seconds per-IP\nlimiter because the code itself is the only credential.",
        "operationId": "redeemCodeV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Send the 32-character code as either key or code; key wins when both are present.",
                "properties": {
                  "key": {
                    "type": "string",
                    "minLength": 32,
                    "maxLength": 32,
                    "description": "Redemption code (v1-compatible field name)"
                  },
                  "code": {
                    "type": "string",
                    "minLength": 32,
                    "maxLength": 32,
                    "description": "Redemption code (alias of key)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Code redeemed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "quota_added": {
                          "type": "integer",
                          "description": "Quota units credited"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or malformed code, or the code is unusable (expired, already used, unknown). Body carries success=false, message and error_code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Redemption rate limit exceeded. middleware.RedemptionRateLimit (rate-limit.go) allows 5 attempts per 60 s per client IP in the RD bucket, because the code itself is the only credential and an unthrottled run is code guessing. The reject carries the headers below and an EMPTY body - the limiter writes a bare status, not a JSON envelope, so a client must branch on the status code, not on `success`. If Redis is unreachable this bucket degrades to a process-local limiter rather than failing open, which makes the effective ceiling (replicas x 5) per 60 s until Redis returns. The wider /api/v2 bucket described in info.description applies first.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until this IP's redemption window frees a slot.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Attempts allowed per window. 5 for this bucket.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Attempts left in the window. Always 0 on a reject.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Scope": {
                "description": "What the bucket is keyed by. Always `ip` here.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "ip"
                  ]
                }
              },
              "X-RateLimit-Type": {
                "description": "What is being counted. Always `requests` here.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "requests"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Hub-side redemption fault (error_code REDEMPTION_FAILED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/redemptions": {
      "get": {
        "tags": [
          "Redemptions"
        ],
        "summary": "List Redemption Codes",
        "description": "Lists all redemption codes (Admin only)",
        "operationId": "listRedemptionsV2",
        "security": [
          {
            "OIDCBearer": [
              "admin"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Redemption code list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedemptionList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "Redemptions"
        ],
        "summary": "Create Redemption Code",
        "description": "Creates a new redemption code (Admin only)",
        "operationId": "createRedemptionV2",
        "security": [
          {
            "OIDCBearer": [
              "admin"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RedemptionCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Redemption code created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Redemption"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/redemptions/{id}": {
      "delete": {
        "tags": [
          "Redemptions"
        ],
        "summary": "Delete Redemption Code",
        "description": "Deletes a redemption code (Admin only)",
        "operationId": "deleteRedemptionV2",
        "security": [
          {
            "OIDCBearer": [
              "admin"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Redemption deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v2/admin/tenants": {
      "get": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "List Tenants",
        "description": "Lists all tenants (Platform Admin only)",
        "operationId": "listTenants",
        "security": [
          {
            "SessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Tenant list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "Create Tenant",
        "description": "Creates a new tenant (Platform Admin only)",
        "operationId": "createTenant",
        "security": [
          {
            "SessionAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TenantCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tenant created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tenant"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v2/admin/tenants/{id}": {
      "get": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "Get Tenant",
        "description": "Gets a tenant by ID (Platform Admin only)",
        "operationId": "getTenant",
        "security": [
          {
            "SessionAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tenant details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tenant"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "Update Tenant",
        "description": "Updates a tenant (Platform Admin only)",
        "operationId": "updateTenant",
        "security": [
          {
            "SessionAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TenantUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tenant updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tenant"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "Delete Tenant",
        "description": "Deletes a tenant (Platform Admin only)",
        "operationId": "deleteTenant",
        "security": [
          {
            "SessionAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Tenant deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v2/admin/tenants/{id}/enable": {
      "post": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "Enable Tenant",
        "operationId": "enableTenant",
        "security": [
          {
            "SessionAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tenant enabled"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v2/admin/tenants/{id}/disable": {
      "post": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "Disable Tenant",
        "operationId": "disableTenant",
        "security": [
          {
            "SessionAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tenant disabled"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v2/admin/tenants/{id}/suspend": {
      "post": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "Suspend Tenant",
        "operationId": "suspendTenant",
        "security": [
          {
            "SessionAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tenant suspended"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v2/admin/tenants/{id}/stats": {
      "get": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "Get Tenant Stats",
        "operationId": "getTenantStats",
        "security": [
          {
            "SessionAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tenant statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantStats"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v2/admin/mappings": {
      "get": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "List User Mappings",
        "operationId": "listUserMappingsV2",
        "security": [
          {
            "SessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "User mapping list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserMappingList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v2/admin/mappings/{id}": {
      "get": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "Get User Mapping",
        "operationId": "getUserMappingV2",
        "security": [
          {
            "SessionAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User mapping details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserMapping"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "Delete User Mapping",
        "operationId": "deleteUserMappingV2",
        "security": [
          {
            "SessionAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Mapping deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v2/admin/stats": {
      "get": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "Get System Stats",
        "operationId": "getSystemStatsV2",
        "security": [
          {
            "SessionAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "System-wide statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemStats"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/tokens/batch": {
      "post": {
        "tags": [
          "Tokens"
        ],
        "summary": "Batch Create Tokens (roster)",
        "description": "Issues one key per employee of a roster. Tenant admin only. At most 500 items, all-or-nothing in one transaction. Idempotent per employee_ref: an employee that already has a live key is reported under skipped and not re-issued. The plaintext keys of newly created tokens appear in this response only. Keys are owned by the tenant payer (409 payer_not_set when none is configured) and are never trusted-gateway keys.",
        "operationId": "batchCreateTokensV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchTokenCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Keys created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/BatchTokenResult"
                    }
                  }
                }
              }
            }
          },
          "200": {
            "description": "Every employee already had a key; nothing created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/BatchTokenResult"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid item (error_code TOKEN_BATCH_INVALID) or too many items",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Tenant admin role required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "employee_ref conflict, or the tenant has no payer (error_code payer_not_set)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/projects/{id}/members": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "List Project Members",
        "description": "Lists the members (department leads) of a project. Tenant admin only; a project of another tenant is 404.",
        "operationId": "listProjectMembersV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Members",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ProjectMember"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Tenant admin role required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Add Project Member",
        "description": "Adds a user to a project; a user with no tenant role becomes dept_lead. Idempotent. Tenant admin only. Not available in the shared default tenant (403 TENANT_ROLE_FORBIDDEN_IN_DEFAULT).",
        "operationId": "addProjectMemberV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id"
                ],
                "properties": {
                  "user_id": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Tenant admin role required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Project or user not found in this tenant",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Projects"
        ],
        "summary": "Remove Project Member",
        "description": "Removes a user from a project; a dept_lead left with no projects is demoted. user_id is read from the query string, or from a JSON body.",
        "operationId": "removeProjectMemberV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Tenant admin role required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Project or user not found in this tenant",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/invites": {
      "post": {
        "tags": [
          "Tenant Admin"
        ],
        "summary": "Issue Tenant Invite",
        "description": "Mints a one-time onboarding code for the caller's own tenant, optionally granting a role and project membership on redeem. ttl_hours defaults to 72, maximum 720. Tenant admin only. The full code is returned only here.",
        "operationId": "issueTenantInviteV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InviteCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Invite created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/TenantInvite"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid ttl_hours, role or project",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Tenant admin role required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Project not found in this tenant",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Tenant Admin"
        ],
        "summary": "List Tenant Invites",
        "description": "Lists the tenant's invites, newest first, as a prefix-only projection (never the full code). Tenant admin only.",
        "operationId": "listTenantInvitesV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Invites",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "invites": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/TenantInviteView"
                          }
                        },
                        "total": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Tenant admin role required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/invites/redeem": {
      "post": {
        "tags": [
          "Tenant Admin"
        ],
        "summary": "Redeem Tenant Invite",
        "description": "Applies an invite's role and project grant to the already logged-in caller. Only a code of the caller's own tenant redeems; a foreign or unknown code is indistinguishable (404 INVITE_NOT_FOUND) and a foreign code is not consumed. Expired and revoked codes answer 410, a spent code 409.",
        "operationId": "redeemTenantInviteV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code"
                ],
                "properties": {
                  "code": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Redeemed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "tenant_id": {
                          "type": "string"
                        },
                        "member_role": {
                          "type": "string"
                        },
                        "project_id": {
                          "type": "integer",
                          "format": "int64"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "code is required (INVITE_CODE_REQUIRED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "INVITE_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "INVITE_ALREADY_CONSUMED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "410": {
            "description": "INVITE_EXPIRED or INVITE_REVOKED",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/invites/{id}": {
      "delete": {
        "tags": [
          "Tenant Admin"
        ],
        "summary": "Revoke Tenant Invite",
        "description": "Revokes a pending invite of the caller's own tenant. Another tenant's invite id and a spent or already revoked one are both 404. Tenant admin only.",
        "operationId": "revokeTenantInviteV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Revoked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Tenant admin role required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "INVITE_NOT_FOUND",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/members": {
      "get": {
        "tags": [
          "Tenant Admin"
        ],
        "summary": "List Tenant Members",
        "description": "Members of the caller's own tenant with role, payer flag and department memberships. Tenant admin only. Filter by role (admin, dept_lead, member) and keyword.",
        "operationId": "listTenantMembersV2",
        "security": [
          {
            "OIDCBearer": [
              "admin"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "name": "role",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "admin",
                "dept_lead",
                "member"
              ]
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "user_id": {
                                "type": "integer"
                              },
                              "username": {
                                "type": "string"
                              },
                              "display_name": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "tenant_role": {
                                "type": "string"
                              },
                              "is_payer": {
                                "type": "boolean"
                              },
                              "joined_at": {
                                "type": "integer",
                                "format": "int64",
                                "nullable": true
                              },
                              "departments": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "additionalProperties": true
                                }
                              }
                            }
                          }
                        },
                        "total": {
                          "type": "integer"
                        },
                        "page": {
                          "type": "integer"
                        },
                        "page_size": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "role is not admin, dept_lead or member",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/members/{user_id}/role": {
      "put": {
        "tags": [
          "Tenant Admin"
        ],
        "summary": "Set Member Role",
        "description": "Sets a member's tenant role (admin, dept_lead or empty) in the caller's own tenant. Tenant admin only. Refuses to leave the tenant without an admin (409 LAST_TENANT_ADMIN). The payer flag is root-only and ignored here. Not available in the shared default tenant.",
        "operationId": "setTenantMemberRoleV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "name": "user_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemberRoleSet"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Role set",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "TENANT_ROLE_INVALID or missing tenant_role",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Tenant admin role required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "User is not a member of this tenant",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "LAST_TENANT_ADMIN",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/audit": {
      "get": {
        "tags": [
          "Tenant Admin"
        ],
        "summary": "List Tenant Audit Events",
        "description": "The tenant's own audit trail, newest first. Every query is pinned to the caller's tenant; a tenant_id query parameter is ignored. Details are redacted (channel ids, upstream keys, internal notes). Tenant admin only.",
        "operationId": "listTenantAuditV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "name": "action",
            "in": "query",
[...]
