{
  "openapi": "3.0.3",
  "info": {
    "title": "Lurus API V2 - Multi-Tenant Gateway",
    "description": "Lurus API V2 provides multi-tenant access to LLM API gateway services.\n\n## Authentication\n\nV2 authenticates through OpenID Connect. Which provider, which issuer and\nwhich client id are deploy-time configuration, not part of this contract:\nthe console redirects to whatever provider the deployment was given.\n\n1. Redirect the user to `GET /api/v2/{tenant_slug}/auth/login`\n2. The user authenticates with the deployment's configured OIDC provider\n3. The provider calls back to `GET /api/v2/oauth/callback`\n4. Later requests carry the session cookie, or a bearer token for the\n   machine callers that hold one (`OIDCBearer` below)\n\n## Tenant Isolation\n\nAll tenant-specific endpoints are scoped by `{tenant_slug}` in the URL path.\nUsers can only access data within their assigned tenant.\n\n## Rate Limiting\n\n- Every route below `/api/v2` sits behind one shared bucket: 600 requests\n  per 180 s per source IP (`middleware.GlobalV2RateLimit`,\n  api-v2-router.go). It is keyed by the client address, NOT by account or\n  session, so everybody behind one NAT or CGNAT egress address spends the\n  same budget - an office on a single public address shares one bucket.\n- Those numbers are the shipped defaults. An operator retunes them with\n  `GLOBAL_V2_RATE_LIMIT` and `GLOBAL_V2_RATE_LIMIT_DURATION`, so the limit\n  a given deployment enforces may differ.\n- A limit of 0 DISABLES the bucket; it does not mean unlimited. To turn the\n  limiter off deliberately, set `GLOBAL_V2_RATE_LIMIT_ENABLE=false`.\n- A reject is `429` with `Retry-After`, `X-RateLimit-Limit`,\n  `X-RateLimit-Remaining`, `X-RateLimit-Scope: ip`,\n  `X-RateLimit-Type: requests`, and an empty body.\n- Individual routes may add a narrower bucket of their own on top of this\n  one - see the 429 on `POST /api/v2/{tenant_slug}/redeem`.\n- Relay traffic is metered by quota, not by this bucket.\n",
    "version": "2.0.0",
    "contact": {
      "name": "Lurus Support",
      "email": "support@lurus.cn"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://lurus.cn/terms"
    }
  },
  "servers": [
    {
      "url": "https://hub.lurus.cn",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development"
    }
  ],
  "tags": [
    {
      "name": "OAuth",
      "description": "OAuth 2.0 / OpenID Connect authentication flows"
    },
    {
      "name": "User",
      "description": "User profile management"
    },
    {
      "name": "Channels",
      "description": "LLM provider channel management"
    },
    {
      "name": "Tokens",
      "description": "API token management"
    },
    {
      "name": "ChatSessions",
      "description": "Console chat sessions (client-driven persistence)"
    },
    {
      "name": "Billing",
      "description": "Invoice and top-up history. Read-only: this spec documents no route that moves money."
    },
    {
      "name": "Logs",
      "description": "Usage logs"
    },
    {
      "name": "Redemptions",
      "description": "Redemption codes"
    },
    {
      "name": "Platform Admin",
      "description": "Platform-level administration"
    }
  ],
  "paths": {
    "/api/v2/{tenant_slug}/auth/login": {
      "get": {
        "tags": [
          "OAuth"
        ],
        "summary": "Initiate OAuth Login",
        "description": "Redirects to the configured OIDC provider's login page. A PKCE challenge is sent only when OIDC_ENABLE_PKCE=true, which is off by default.\nAfter successful authentication, user is redirected to callback URL.\n",
        "operationId": "zitadelLoginRedirect",
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "name": "redirect_url",
            "in": "query",
            "description": "URL to redirect after successful login",
            "schema": {
              "type": "string",
              "example": "/console"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to the OIDC provider's login page",
            "headers": {
              "Location": {
                "description": "Authorization URL at the configured OIDC provider",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "description": "Tenant not found"
          }
        }
      }
    },
    "/api/v2/oauth/callback": {
      "get": {
        "tags": [
          "OAuth"
        ],
        "summary": "OAuth Callback",
        "description": "Handles the OAuth callback from the configured OIDC provider.\nExchanges authorization code for tokens and creates session.\n",
        "operationId": "zitadelCallback",
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "required": true,
            "description": "Authorization code issued by the OIDC provider",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "description": "State parameter for CSRF protection",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to original URL with session established"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v2/auth/session-info": {
      "get": {
        "tags": [
          "OAuth"
        ],
        "summary": "Get Session Info",
        "description": "Returns current user session data for frontend",
        "operationId": "getSessionInfo",
        "responses": {
          "200": {
            "description": "Session information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionInfo"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v2/oauth/logout": {
      "post": {
        "tags": [
          "OAuth"
        ],
        "summary": "Logout",
        "description": "Logs out at the OIDC provider and clears the session",
        "operationId": "zitadelLogout",
        "responses": {
          "200": {
            "description": "Successfully logged out"
          },
          "302": {
            "description": "Redirect to the OIDC provider's logout URL"
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/user/me": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get Current User",
        "description": "Returns the current authenticated user's profile",
        "operationId": "getSelfV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          }
        ],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "put": {
        "tags": [
          "User"
        ],
        "summary": "Update Current User",
        "description": "Updates the current user's profile",
        "operationId": "updateSelfV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated user profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/channels": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "List Channels",
        "description": "Lists all available LLM provider channels",
        "operationId": "listChannelsV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Search keyword",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of channels",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Channels"
        ],
        "summary": "Create Channel",
        "description": "Creates a new LLM provider channel (Admin only)",
        "operationId": "createChannelV2",
        "security": [
          {
            "OIDCBearer": [
              "admin"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChannelCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Channel created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ChannelConfigInvalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/channels/{id}": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "Get Channel",
        "description": "Gets a specific channel by ID",
        "operationId": "getChannelV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "$ref": "#/components/parameters/ChannelId"
          }
        ],
        "responses": {
          "200": {
            "description": "Channel details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Channels"
        ],
        "summary": "Update Channel",
        "description": "Updates a channel (Admin only)",
        "operationId": "updateChannelV2",
        "security": [
          {
            "OIDCBearer": [
              "admin"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "$ref": "#/components/parameters/ChannelId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChannelUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Channel updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ChannelConfigInvalid"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Channels"
        ],
        "summary": "Delete Channel",
        "description": "Deletes a channel (Admin only)",
        "operationId": "deleteChannelV2",
        "security": [
          {
            "OIDCBearer": [
              "admin"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "$ref": "#/components/parameters/ChannelId"
          }
        ],
        "responses": {
          "204": {
            "description": "Channel deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/models": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "List Model Catalog",
        "description": "Paginated model catalogue with a whitelist projection. This is NOT the\nOpenAI /v1/models envelope - that one belongs to the relay surface and is\ndocumented in relay.json.",
        "operationId": "listModelsV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size, 1-100 (values above 100 are clamped)",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "required": false,
            "description": "Substring match on the model name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vendor",
            "in": "query",
            "required": false,
            "description": "Filter by vendor name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Model catalogue page",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ModelCatalogEntry"
                          }
                        },
                        "total": {
                          "type": "integer"
                        },
                        "limit": {
                          "type": "integer"
                        },
                        "offset": {
                          "type": "integer"
                        },
                        "vendor_counts": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "integer"
                          },
                          "description": "Model count per vendor name"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing tenant slug or invalid pagination",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Tenant not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/models/performance": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "Per-Model Latency and Error Rate",
        "description": "p50/p95 latency and error rate per model over the last `hours`, for\nthe caller's tenant only (cached per pod for 5 minutes). Every member\ngets the quality fields; tenant admins also get the volume fields\n(requests, errors, total_tokens, quota, latency_samples).\n`enough_samples` is false below `min_samples` latency samples — the\npercentiles are then noise, not a measurement.\n",
        "operationId": "listModelPerformanceV2",
        "security": [
          {
            "ZitadelJWT": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "name": "hours",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "enum": [
                1,
                24,
                168
              ],
              "default": 24
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Per-model performance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "hours": {
                          "type": "integer"
                        },
                        "cached_at": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "min_samples": {
                          "type": "integer"
                        },
                        "items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "model_name": {
                                "type": "string"
                              },
                              "p50_latency_ms": {
                                "type": "integer"
                              },
                              "p95_latency_ms": {
                                "type": "integer"
                              },
                              "error_rate": {
                                "type": "number"
                              },
                              "enough_samples": {
                                "type": "boolean"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "hours is not one of 1, 24, 168 (INVALID_WINDOW)"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/tokens": {
      "get": {
        "tags": [
          "Tokens"
        ],
        "summary": "List Tokens",
        "description": "Lists all API tokens for the current user",
        "operationId": "listTokensV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "List of tokens",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Tokens"
        ],
        "summary": "Create Token",
        "description": "Creates a new API token",
        "operationId": "createTokenV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Token created (includes full key, only shown once)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenWithKey"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/tokens/{id}": {
      "put": {
        "tags": [
          "Tokens"
        ],
        "summary": "Update Token",
        "description": "Updates an API token",
        "operationId": "updateTokenV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "$ref": "#/components/parameters/TokenId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Token"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Tokens"
        ],
        "summary": "Delete Token",
        "description": "Deletes an API token",
        "operationId": "deleteTokenV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "$ref": "#/components/parameters/TokenId"
          }
        ],
        "responses": {
          "204": {
            "description": "Token deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/chat/sessions": {
      "get": {
        "tags": [
          "ChatSessions"
        ],
        "summary": "List Chat Sessions",
        "description": "Lists the caller's own saved chat sessions, most-recently-updated first.",
        "operationId": "listChatSessionsV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          }
        ],
        "responses": {
          "200": {
            "description": "Chat sessions listed"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "ChatSessions"
        ],
        "summary": "Create Chat Session",
        "description": "Saves a conversation the client already holds — the request carries the full turn array, not a single new turn to append.",
        "operationId": "createChatSessionV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          }
        ],
        "responses": {
          "200": {
            "description": "Chat session created"
          },
          "400": {
            "description": "Bad request — error_code is CHAT_SESSION_LIMIT_REACHED (the caller already owns 200 sessions in this tenant) or INVALID_REQUEST (oversized/invalid title, model, or messages).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/chat/sessions/{id}": {
      "get": {
        "tags": [
          "ChatSessions"
        ],
        "summary": "Get Chat Session",
        "description": "Fetches one saved chat session (plus its messages) the caller owns.",
        "operationId": "getChatSessionV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "$ref": "#/components/parameters/ChatSessionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Chat session fetched"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "ChatSessions"
        ],
        "summary": "Update Chat Session",
        "description": "Partially updates title and/or model, and/or REPLACES the full message list, of a chat session the caller owns.",
        "operationId": "updateChatSessionV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "$ref": "#/components/parameters/ChatSessionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Chat session updated"
          },
          "400": {
            "description": "Bad request — error_code is INVALID_REQUEST (oversized/invalid title, model, or messages). A rejected update leaves the stored session unchanged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "ChatSessions"
        ],
        "summary": "Delete Chat Session",
        "description": "Deletes a chat session (and its messages) the caller owns.",
        "operationId": "deleteChatSessionV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "$ref": "#/components/parameters/ChatSessionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Chat session deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/billing/invoices": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "List Monthly Invoices",
        "description": "Monthly spend buckets for the calling user inside this tenant. Both query\nparameters are optional; the range is always clamped to at most 12 calendar\nmonths. There is deliberately no amount_usd field - no FX source is wired\ninto this endpoint.",
        "operationId": "listInvoicesV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "First month, YYYY-MM",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{4}-[0-9]{2}$"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "Last month, YYYY-MM",
            "schema": {
              "type": "string",
              "pattern": "^[0-9]{4}-[0-9]{2}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Monthly spend buckets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/InvoiceMonth"
                          }
                        },
                        "total_invoices": {
                          "type": "integer"
                        },
                        "summary": {
                          "type": "object",
                          "properties": {
                            "total_quota": {
                              "type": "integer",
                              "format": "int64"
                            },
                            "total_cny": {
                              "type": "number"
                            },
                            "mtd_quota": {
                              "type": "integer",
                              "format": "int64",
                              "description": "Billable quota in the current UTC calendar month"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid from/to range",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "description": "Invoice aggregation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/billing/topups": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "List Top-ups",
        "description": "Lists user's top-up history",
        "operationId": "getTopUpsV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Top-up history",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopUpList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/logs": {
      "get": {
        "tags": [
          "Logs"
        ],
        "summary": "Get User Logs",
        "description": "Gets usage logs for the current user",
        "operationId": "getLogsV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "name": "model",
            "in": "query",
            "description": "Filter by model name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "description": "Start time (Unix timestamp)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "End time (Unix timestamp)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Usage logs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/logs/all": {
      "get": {
        "tags": [
          "Logs"
        ],
        "summary": "Get All Logs",
        "description": "Gets all users' logs (Admin only)",
        "operationId": "getAllLogsV2",
        "security": [
          {
            "OIDCBearer": [
              "admin"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Filter by user ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All logs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/redeem": {
      "post": {
        "tags": [
          "Redemptions"
        ],
        "summary": "Redeem Code",
        "description": "Redeems a redemption code and credits the quota to the calling user.\nMounted at /api/v2/{tenant_slug}/redeem (api-v2-router.go), NOT under the\n/redemptions collection. Guarded by a 5-requests-per-60-seconds per-IP\nlimiter because the code itself is the only credential.",
        "operationId": "redeemCodeV2",
        "security": [
          {
            "OIDCBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Send the 32-character code as either key or code; key wins when both are present.",
                "properties": {
                  "key": {
                    "type": "string",
                    "minLength": 32,
                    "maxLength": 32,
                    "description": "Redemption code (v1-compatible field name)"
                  },
                  "code": {
                    "type": "string",
                    "minLength": 32,
                    "maxLength": 32,
                    "description": "Redemption code (alias of key)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Code redeemed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "quota_added": {
                          "type": "integer",
                          "description": "Quota units credited"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or malformed code, or the code is unusable (expired, already used, unknown). Body carries success=false, message and error_code.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "description": "Redemption rate limit exceeded. middleware.RedemptionRateLimit (rate-limit.go) allows 5 attempts per 60 s per client IP in the RD bucket, because the code itself is the only credential and an unthrottled run is code guessing. The reject carries the headers below and an EMPTY body - the limiter writes a bare status, not a JSON envelope, so a client must branch on the status code, not on `success`. If Redis is unreachable this bucket degrades to a process-local limiter rather than failing open, which makes the effective ceiling (replicas x 5) per 60 s until Redis returns. The wider /api/v2 bucket described in info.description applies first.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until this IP's redemption window frees a slot.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Attempts allowed per window. 5 for this bucket.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Attempts left in the window. Always 0 on a reject.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Scope": {
                "description": "What the bucket is keyed by. Always `ip` here.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "ip"
                  ]
                }
              },
              "X-RateLimit-Type": {
                "description": "What is being counted. Always `requests` here.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "requests"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Hub-side redemption fault (error_code REDEMPTION_FAILED)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/redemptions": {
      "get": {
        "tags": [
          "Redemptions"
        ],
        "summary": "List Redemption Codes",
        "description": "Lists all redemption codes (Admin only)",
        "operationId": "listRedemptionsV2",
        "security": [
          {
            "OIDCBearer": [
              "admin"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Redemption code list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedemptionList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "Redemptions"
        ],
        "summary": "Create Redemption Code",
        "description": "Creates a new redemption code (Admin only)",
        "operationId": "createRedemptionV2",
        "security": [
          {
            "OIDCBearer": [
              "admin"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RedemptionCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Redemption code created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Redemption"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v2/{tenant_slug}/redemptions/{id}": {
      "delete": {
        "tags": [
          "Redemptions"
        ],
        "summary": "Delete Redemption Code",
        "description": "Deletes a redemption code (Admin only)",
        "operationId": "deleteRedemptionV2",
        "security": [
          {
            "OIDCBearer": [
              "admin"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantSlug"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Redemption deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v2/admin/tenants": {
      "get": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "List Tenants",
        "description": "Lists all tenants (Platform Admin only)",
        "operationId": "listTenants",
        "security": [
          {
            "SessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Tenant list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "Create Tenant",
        "description": "Creates a new tenant (Platform Admin only)",
        "operationId": "createTenant",
        "security": [
          {
            "SessionAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TenantCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tenant created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tenant"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v2/admin/tenants/{id}": {
      "get": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "Get Tenant",
        "description": "Gets a tenant by ID (Platform Admin only)",
        "operationId": "getTenant",
        "security": [
          {
            "SessionAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tenant details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tenant"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "Update Tenant",
        "description": "Updates a tenant (Platform Admin only)",
        "operationId": "updateTenant",
        "security": [
          {
            "SessionAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TenantUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tenant updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Tenant"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "Delete Tenant",
        "description": "Deletes a tenant (Platform Admin only)",
        "operationId": "deleteTenant",
        "security": [
          {
            "SessionAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Tenant deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v2/admin/tenants/{id}/enable": {
      "post": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "Enable Tenant",
        "operationId": "enableTenant",
        "security": [
          {
            "SessionAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tenant enabled"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v2/admin/tenants/{id}/disable": {
      "post": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "Disable Tenant",
        "operationId": "disableTenant",
        "security": [
          {
            "SessionAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tenant disabled"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v2/admin/tenants/{id}/suspend": {
      "post": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "Suspend Tenant",
        "operationId": "suspendTenant",
        "security": [
          {
            "SessionAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tenant suspended"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v2/admin/tenants/{id}/stats": {
      "get": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "Get Tenant Stats",
        "operationId": "getTenantStats",
        "security": [
          {
            "SessionAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tenant statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantStats"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v2/admin/mappings": {
      "get": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "List User Mappings",
        "operationId": "listUserMappingsV2",
        "security": [
          {
            "SessionAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Page"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "User mapping list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserMappingList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v2/admin/mappings/{id}": {
      "get": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "Get User Mapping",
        "operationId": "getUserMappingV2",
        "security": [
          {
            "SessionAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User mapping details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserMapping"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "Delete User Mapping",
        "operationId": "deleteUserMappingV2",
        "security": [
          {
            "SessionAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Mapping deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/v2/admin/stats": {
      "get": {
        "tags": [
          "Platform Admin"
        ],
        "summary": "Get System Stats",
        "operationId": "getSystemStatsV2",
        "security": [
          {
            "SessionAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "System-wide statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SystemStats"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "OIDCBearer": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Bearer token issued by the deployment's configured OIDC provider. Which provider that is, is deploy-time configuration; no specific vendor is part of this contract."
      },
      "SessionAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "session",
        "description": "Session cookie for platform admin"
      }
    },
    "parameters": {
      "TenantSlug": {
        "name": "tenant_slug",
        "in": "path",
        "required": true,
        "description": "Tenant identifier (slug). On routes behind TenantSlugGuard the reserved value `~` means \"the tenant this session authenticated into\"; the server resolves it from the session, and it is what the console sends. An explicit slug must equal that tenant (403 TENANT_MISMATCH otherwise). `GET /user/me` reports the real slug as `tenant_slug`.",
        "schema": {
          "type": "string",
          "pattern": "^([a-z0-9-]+|~)$",
          "example": "lurus"
        }
      },
      "Page": {
        "name": "page",
        "in": "query",
        "description": "Page number (1-based)",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "PageSize": {
        "name": "page_size",
        "in": "query",
        "description": "Items per page",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 20
        }
      },
      "ChannelId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer"
        }
      },
      "TokenId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer"
        }
      },
      "ChatSessionId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer"
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden - insufficient permissions",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ChannelConfigInvalid": {
        "description": "Invalid request body. Includes a channel config document (param_override, header_override, model_mapping, or setting) that failed save-time validation, in which case the body carries a code identifying which field.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ChannelConfigValidationError"
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string",
            "example": "Invalid request"
          }
        }
      },
      "ChannelConfigValidationError": {
        "type": "object",
        "description": "400 body for POST/PUT channel. code is present only when the request body's param_override (structural pre-pass + dry-run of the relay override engine), header_override, model_mapping, or setting document (shape validators) failed save-time validation; it is absent for other 400s on this endpoint (missing required field, malformed request JSON, etc).",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "code": {
            "type": "string",
            "enum": [
              "channel:param_override_invalid",
              "channel:header_override_invalid",
              "channel:model_mapping_invalid",
              "channel:setting_invalid"
            ]
          },
          "message": {
            "type": "string",
            "example": "param_override must be valid JSON"
          }
        }
      },
      "SessionInfo": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "integer"
          },
          "username": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "role": {
            "type": "integer"
          },
          "tenant_id": {
            "type": "string"
          },
          "tenant_slug": {
            "type": "string"
          }
        }
      },
      "TokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "token_type": {
            "type": "string",
            "example": "Bearer"
          },
          "expires_in": {
            "type": "integer",
            "description": "Seconds until expiration"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "username": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "display_name": {
            "type": "string"
          },
          "role": {
            "type": "integer"
          },
          "status": {
            "type": "integer"
          },
          "quota": {
            "type": "integer"
          },
          "used_quota": {
            "type": "integer"
          },
          "created_at": {
            "type": "integer",
            "description": "Unix timestamp"
          }
        }
      },
      "UserUpdate": {
        "type": "object",
        "properties": {
          "display_name": {
            "type": "string",
            "maxLength": 50
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "integer"
          },
          "base_url": {
            "type": "string"
          },
          "models": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "priority": {
            "type": "integer"
          },
          "weight": {
            "type": "integer"
          }
        }
      },
      "ChannelCreate": {
        "type": "object",
        "required": [
          "name",
          "type",
          "key"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "integer"
          },
          "key": {
            "type": "string"
          },
          "base_url": {
            "type": "string"
          },
          "models": {
            "type": "string"
          },
          "group": {
            "type": "string"
          },
          "priority": {
            "type": "integer",
            "default": 0
          },
          "weight": {
            "type": "integer",
            "default": 1
          }
        }
      },
      "ChannelUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "base_url": {
            "type": "string"
          },
          "models": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "priority": {
            "type": "integer"
          },
          "weight": {
            "type": "integer"
          }
        }
      },
      "ChannelList": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Channel"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "Token": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "key": {
            "type": "string",
            "description": "Masked key (sk-xxx...xxx)"
          },
          "status": {
            "type": "integer"
          },
          "quota": {
            "type": "integer"
          },
          "used_quota": {
            "type": "integer"
          },
          "expired_time": {
            "type": "integer"
          },
          "created_at": {
            "type": "integer"
          }
        }
      },
      "TokenWithKey": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Token"
          },
          {
            "type": "object",
            "properties": {
              "full_key": {
                "type": "string",
                "description": "Full API key (only shown once)"
              }
            }
          }
        ]
      },
      "TokenCreate": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 50
          },
          "quota": {
            "type": "integer",
            "minimum": 0
          },
          "expired_time": {
            "type": "integer",
            "description": "Unix timestamp, -1 for never"
          }
        }
      },
      "TokenUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "quota": {
            "type": "integer"
          },
          "expired_time": {
            "type": "integer"
          }
        }
      },
      "TokenList": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Token"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "TopUpList": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "amount": {
                  "type": "number"
                },
                "quota": {
                  "type": "integer"
                },
                "status": {
                  "type": "string"
                },
                "created_at": {
                  "type": "integer"
                }
              }
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "LogList": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "user_id": {
                  "type": "integer"
                },
                "model": {
                  "type": "string"
                },
                "prompt_tokens": {
                  "type": "integer"
                },
                "completion_tokens": {
                  "type": "integer"
                },
                "quota": {
                  "type": "integer"
                },
                "created_at": {
                  "type": "integer"
                }
              }
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "Redemption": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "code": {
            "type": "string"
          },
          "quota": {
            "type": "integer"
          },
          "count": {
            "type": "integer"
          },
          "used_count": {
            "type": "integer"
          },
          "status": {
            "type": "integer"
          },
          "created_at": {
            "type": "integer"
          }
        }
      },
      "RedemptionCreate": {
        "type": "object",
        "required": [
          "quota",
          "count"
        ],
        "properties": {
          "quota": {
            "type": "integer",
            "minimum": 1
          },
          "count": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          }
        }
      },
      "RedemptionList": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Redemption"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "Tenant": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "slug": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "zitadel_org_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "disabled",
              "suspended"
            ]
          },
          "created_at": {
            "type": "integer"
          }
        }
      },
      "TenantCreate": {
        "type": "object",
        "required": [
          "slug",
          "name",
          "zitadel_org_id"
        ],
        "properties": {
          "slug": {
            "type": "string",
            "pattern": "^[a-z0-9-]+$"
          },
          "name": {
            "type": "string"
          },
          "zitadel_org_id": {
            "type": "string"
          }
        }
      },
      "TenantUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "TenantList": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tenant"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "TenantStats": {
        "type": "object",
        "properties": {
          "user_count": {
            "type": "integer"
          },
          "token_count": {
            "type": "integer"
          },
          "channel_count": {
            "type": "integer"
          },
          "total_quota": {
            "type": "integer"
          },
          "used_quota": {
            "type": "integer"
          }
        }
      },
      "UserMapping": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "zitadel_user_id": {
            "type": "string"
          },
          "lurus_user_id": {
            "type": "integer"
          },
          "tenant_id": {
            "type": "string"
          },
          "created_at": {
            "type": "integer"
          }
        }
      },
      "UserMappingList": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserMapping"
            }
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "SystemStats": {
        "type": "object",
        "properties": {
          "tenant_count": {
            "type": "integer"
          },
          "total_users": {
            "type": "integer"
          },
          "total_requests": {
            "type": "integer"
          },
          "total_tokens": {
            "type": "integer"
          }
        }
      },
      "InvoiceMonth": {
        "type": "object",
        "description": "One calendar month of billable spend.",
        "properties": {
          "month": {
            "type": "string",
            "description": "YYYY-MM"
          },
          "quota": {
            "type": "integer",
            "format": "int64",
            "description": "Billable quota units consumed"
          },
          "amount_cny": {
            "type": "number",
            "description": "Amount charged for the month in CNY: the wallet charge recorded at settlement for each request that has one (logs.charged_cny4), plus the quota of the remaining billable rows priced at the current exchange rate (QuotaPerUnit / USDExchangeRate quota per CNY). Changing the exchange rate no longer re-prices recorded charges."
          },
          "request_count": {
            "type": "integer",
            "format": "int64",
            "description": "Number of billable log rows"
          },
          "unbilled_quota": {
            "type": "integer",
            "format": "int64",
            "description": "Quota logged but excluded from billing (settlement-failed or channel-test rows)"
          },
          "unbilled_request_count": {
            "type": "integer",
            "format": "int64",
            "description": "Number of log rows excluded from billing"
          }
        }
      },
      "ModelCatalogEntry": {
        "type": "object",
        "description": "Whitelist projection of a catalogue model row.",
        "properties": {
          "id": {
            "type": "integer"
          },
          "model_name": {
            "type": "string"
          },
          "vendor": {
            "type": "string",
            "description": "Vendor display name, empty when unknown"
          },
          "name_rule": {
            "type": "integer"
          },
          "status": {
            "type": "integer"
          },
          "quota_types": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "enable_groups": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "endpoints": {
            "type": "string"
          },
          "created_time": {
            "type": "integer",
            "format": "int64"
          }
        }
      }
    }
  }
}
