openapi: 3.0.3
info:
  title: Lurus API V2 - Multi-Tenant Gateway
  description: |
    Lurus API V2 provides multi-tenant access to LLM API gateway services.

    ## Authentication

    V2 authenticates through OpenID Connect. Which provider, which issuer and
    which client id are deploy-time configuration, not part of this contract:
    the console redirects to whatever provider the deployment was given.

    1. Redirect the user to `GET /api/v2/{tenant_slug}/auth/login`
    2. The user authenticates with the deployment's configured OIDC provider
    3. The provider calls back to `GET /api/v2/oauth/callback`
    4. Later requests carry the session cookie, or a bearer token for the
       machine callers that hold one (`OIDCBearer` below)

    ## Tenant Isolation

    All tenant-specific endpoints are scoped by `{tenant_slug}` in the URL path.
    Users can only access data within their assigned tenant.

    ## Rate Limiting

    - Every route below `/api/v2` sits behind one shared bucket: 600 requests
      per 180 s per source IP (`middleware.GlobalV2RateLimit`,
      api-v2-router.go). It is keyed by the client address, NOT by account or
      session, so everybody behind one NAT or CGNAT egress address spends the
      same budget - an office on a single public address shares one bucket.
    - Those numbers are the shipped defaults. An operator retunes them with
      `GLOBAL_V2_RATE_LIMIT` and `GLOBAL_V2_RATE_LIMIT_DURATION`, so the limit
      a given deployment enforces may differ.
    - A limit of 0 DISABLES the bucket; it does not mean unlimited. To turn the
      limiter off deliberately, set `GLOBAL_V2_RATE_LIMIT_ENABLE=false`.
    - A reject is `429` with `Retry-After`, `X-RateLimit-Limit`,
      `X-RateLimit-Remaining`, `X-RateLimit-Scope: ip`,
      `X-RateLimit-Type: requests`, and an empty body.
    - Individual routes may add a narrower bucket of their own on top of this
      one - see the 429 on `POST /api/v2/{tenant_slug}/redeem`.
    - Relay traffic is metered by quota, not by this bucket.

  version: 2.0.0
  contact:
    name: Lurus Support
    email: support@lurus.cn
  license:
    name: Proprietary
    url: https://lurus.cn/terms

servers:
  - url: https://hub.lurus.cn
    description: Production
  - url: http://localhost:3000
    description: Local development

tags:
  - name: OAuth
    description: OAuth 2.0 / OpenID Connect authentication flows
  - name: User
    description: User profile management
  - name: Channels
    description: LLM provider channel management
  - name: Tokens
    description: API token management
  - name: ChatSessions
    description: Console chat sessions (client-driven persistence)
  - name: Billing
    description: 'Invoice and top-up history. Read-only: this spec documents no route that moves money.'
  - name: Logs
    description: Usage logs
  - name: Redemptions
    description: Redemption codes
  - name: Platform Admin
    description: Platform-level administration
  - name: Projects
    description: Cost-attribution projects and their members
  - name: Tenant Admin
    description: 'Tenant-admin self-service: invites, member roles, audit trail and model allow-list'

paths:
  # ============================================================
  # OAuth Authentication Routes
  # ============================================================

  /api/v2/{tenant_slug}/auth/login:
    get:
      tags: [OAuth]
      summary: Initiate OAuth Login
      description: |
        Redirects to the configured OIDC provider's login page. A PKCE challenge is sent only when OIDC_ENABLE_PKCE=true, which is off by default.
        After successful authentication, user is redirected to callback URL.
      operationId: zitadelLoginRedirect
      parameters:
        - $ref: '#/components/parameters/TenantSlug'
        - name: redirect_url
          in: query
          description: URL to redirect after successful login
          schema:
            type: string
            example: /console
      responses:
        '302':
          description: Redirect to the OIDC provider's login page
          headers:
            Location:
              description: Authorization URL at the configured OIDC provider
              schema:
                type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Tenant not found

  /api/v2/oauth/callback:
    get:
      tags: [OAuth]
      summary: OAuth Callback
      description: |
        Handles the OAuth callback from the configured OIDC provider.
        Exchanges authorization code for tokens and creates session.
      operationId: zitadelCallback
      parameters:
        - name: code
          in: query
          required: true
          description: Authorization code issued by the OIDC provider
          schema:
            type: string
        - name: state
          in: query
          required: true
          description: State parameter for CSRF protection
          schema:
            type: string
      responses:
        '302':
          description: Redirect to original URL with session established
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v2/auth/session-info:
    get:
      tags: [OAuth]
      summary: Get Session Info
      description: Returns current user session data for frontend
      operationId: getSessionInfo
      responses:
        '200':
          description: Session information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionInfo'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v2/oauth/logout:
    post:
      tags: [OAuth]
      summary: Logout
      description: Logs out at the OIDC provider and clears the session
      operationId: zitadelLogout
      responses:
        '200':
          description: Successfully logged out
        '302':
          description: Redirect to the OIDC provider's logout URL

  # ============================================================
  # User Routes
  # ============================================================

  /api/v2/{tenant_slug}/user/me:
    get:
      tags: [User]
      summary: Get Current User
      description: Returns the current authenticated user's profile
      operationId: getSelfV2
      security:
        - OIDCBearer: []
      parameters:
        - $ref: '#/components/parameters/TenantSlug'
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      tags: [User]
      summary: Update Current User
      description: Updates the current user's profile
      operationId: updateSelfV2
      security:
        - OIDCBearer: []
      parameters:
        - $ref: '#/components/parameters/TenantSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdate'
      responses:
        '200':
          description: Updated user profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ============================================================
  # Channel Routes
  # ============================================================

  /api/v2/{tenant_slug}/channels:
    get:
      tags: [Channels]
      summary: List Channels
      description: Lists all available LLM provider channels
      operationId: listChannelsV2
      security:
        - OIDCBearer: []
      parameters:
        - $ref: '#/components/parameters/TenantSlug'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: keyword
          in: query
          description: Search keyword
          schema:
            type: string
      responses:
        '200':
          description: List of channels
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChannelList'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [Channels]
      summary: Create Channel
      description: Creates a new LLM provider channel (Admin only)
      operationId: createChannelV2
      security:
        - OIDCBearer: [admin]
      parameters:
        - $ref: '#/components/parameters/TenantSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelCreate'
      responses:
        '201':
          description: Channel created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/v2/{tenant_slug}/channels/{id}:
    get:
      tags: [Channels]
      summary: Get Channel
      description: Gets a specific channel by ID
      operationId: getChannelV2
      security:
        - OIDCBearer: []
      parameters:
        - $ref: '#/components/parameters/TenantSlug'
        - $ref: '#/components/parameters/ChannelId'
      responses:
        '200':
          description: Channel details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Channels]
      summary: Update Channel
      description: Updates a channel (Admin only)
      operationId: updateChannelV2
      security:
        - OIDCBearer: [admin]
      parameters:
        - $ref: '#/components/parameters/TenantSlug'
        - $ref: '#/components/parameters/ChannelId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChannelUpdate'
      responses:
        '200':
          description: Channel updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Channel'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Channels]
      summary: Delete Channel
      description: Deletes a channel (Admin only)
      operationId: deleteChannelV2
      security:
        - OIDCBearer: [admin]
      parameters:
        - $ref: '#/components/parameters/TenantSlug'
        - $ref: '#/components/parameters/ChannelId'
      responses:
        '204':
          description: Channel deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================================
  # Token Routes
  # ============================================================

  /api/v2/{tenant_slug}/tokens:
    get:
      tags: [Tokens]
      summary: List Tokens
      description: Lists all API tokens for the current user
      operationId: listTokensV2
      security:
        - OIDCBearer: []
      parameters:
        - $ref: '#/components/parameters/TenantSlug'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: List of tokens
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenList'
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [Tokens]
      summary: Create Token
      description: Creates a new API token
      operationId: createTokenV2
      security:
        - OIDCBearer: []
      parameters:
        - $ref: '#/components/parameters/TenantSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenCreate'
      responses:
        '201':
          description: Token created (includes full key, only shown once)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenWithKey'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v2/{tenant_slug}/tokens/{id}:
    put:
      tags: [Tokens]
      summary: Update Token
      description: Updates an API token
      operationId: updateTokenV2
      security:
        - OIDCBearer: []
      parameters:
        - $ref: '#/components/parameters/TenantSlug'
        - $ref: '#/components/parameters/TokenId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenUpdate'
      responses:
        '200':
          description: Token updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Token'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Tokens]
      summary: Delete Token
      description: Deletes an API token
      operationId: deleteTokenV2
      security:
        - OIDCBearer: []
      parameters:
        - $ref: '#/components/parameters/TenantSlug'
        - $ref: '#/components/parameters/TokenId'
      responses:
        '204':
          description: Token deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================================
  # Chat Session Routes (migration 038, cycle-10 L3; 400 error codes and
  # the model field added cycle-11 L5)
  # ============================================================

  /api/v2/{tenant_slug}/chat/sessions:
    get:
      tags: [ChatSessions]
      summary: List Chat Sessions
      description: Lists the caller's own saved chat sessions, most-recently-updated first.
      operationId: listChatSessionsV2
      security:
        - OIDCBearer: []
      parameters:
        - $ref: '#/components/parameters/TenantSlug'
      responses:
        '200':
          description: Chat sessions listed
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [ChatSessions]
      summary: Create Chat Session
      description: >-
        Saves a conversation the client already holds — the request carries
        the full turn array, not a single new turn to append.
      operationId: createChatSessionV2
      security:
        - OIDCBearer: []
      parameters:
        - $ref: '#/components/parameters/TenantSlug'
      responses:
        '200':
          description: Chat session created
        '400':
          description: >-
            Bad request — error_code is CHAT_SESSION_LIMIT_REACHED (the
            caller already owns 200 sessions in this tenant) or
            INVALID_REQUEST (oversized/invalid title, model, or messages).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v2/{tenant_slug}/chat/sessions/{id}:
    get:
      tags: [ChatSessions]
      summary: Get Chat Session
      description: Fetches one saved chat session (plus its messages) the caller owns.
      operationId: getChatSessionV2
      security:
        - OIDCBearer: []
      parameters:
        - $ref: '#/components/parameters/TenantSlug'
        - $ref: '#/components/parameters/ChatSessionId'
      responses:
        '200':
          description: Chat session fetched
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags: [ChatSessions]
      summary: Update Chat Session
      description: >-
        Partially updates title and/or model, and/or REPLACES the full
        message list, of a chat session the caller owns.
      operationId: updateChatSessionV2
      security:
        - OIDCBearer: []
      parameters:
        - $ref: '#/components/parameters/TenantSlug'
        - $ref: '#/components/parameters/ChatSessionId'
      responses:
        '200':
          description: Chat session updated
        '400':
          description: >-
            Bad request — error_code is INVALID_REQUEST (oversized/invalid
            title, model, or messages). A rejected update leaves the stored
            session unchanged.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [ChatSessions]
      summary: Delete Chat Session
      description: Deletes a chat session (and its messages) the caller owns.
      operationId: deleteChatSessionV2
      security:
        - OIDCBearer: []
      parameters:
        - $ref: '#/components/parameters/TenantSlug'
        - $ref: '#/components/parameters/ChatSessionId'
      responses:
        '200':
          description: Chat session deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================================
  # Billing Routes
  # ============================================================

  /api/v2/{tenant_slug}/billing/invoices:
    get:
      tags: [Billing]
      summary: List Monthly Invoices
      description: |
        Monthly spend buckets for the calling user inside this tenant. Both
        query parameters are optional; the range is always clamped to at most
        12 calendar months. There is deliberately no amount_usd field - no FX
        source is wired into this endpoint.
      operationId: listInvoicesV2
      security:
        - OIDCBearer: []
      parameters:
        - $ref: '#/components/parameters/TenantSlug'
        - name: from
          in: query
          description: First month, YYYY-MM
          schema:
            type: string
            pattern: '^[0-9]{4}-[0-9]{2}$'
        - name: to
          in: query
          description: Last month, YYYY-MM
          schema:
            type: string
            pattern: '^[0-9]{4}-[0-9]{2}$'
      responses:
        '200':
          description: Monthly spend buckets
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/InvoiceMonth'
                      total_invoices:
                        type: integer
                      summary:
                        type: object
                        properties:
                          total_quota:
                            type: integer
                            format: int64
                          total_cny:
                            type: number
                          mtd_quota:
                            type: integer
                            format: int64
                            description: >-
                              Billable quota in the current UTC calendar month
        '400':
          description: Invalid from/to range
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Invoice aggregation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v2/{tenant_slug}/billing/statement:
    get:
      tags: [Billing]
      summary: Monthly Statement
      description: |
        Tenant monthly statement grouped by project, employee, token or model. The
        month is a calendar month in the requested time zone. Tenant admins
        see the whole tenant; department leads see only their own projects
        (the unassigned project 0 bucket is hidden). format=csv exports the same
        statement for the whole tenant. Totals are exactly the
        sum of the rows. Amounts are in 0.0001 CNY.
      operationId: getBillingStatementV2
      security:
        - OIDCBearer: []
      parameters:
        - $ref: '#/components/parameters/TenantSlug'
        - name: month
          in: query
          description: 'Calendar month, YYYY-MM (default is the current month in tz)'
          schema:
            type: string
            pattern: '^[0-9]{4}-[0-9]{2}$'
        - name: tz
          in: query
          description: IANA time zone
          schema:
            type: string
            default: Asia/Shanghai
        - name: group_by
          in: query
          schema:
            type: string
            enum: [project, employee, token, model]
            default: project
        - name: format
          in: query
          description: csv returns a text/csv download of the whole tenant statement (same grouping, month and totals row)
          schema:
            type: string
            enum: [csv]
      responses:
        '200':
          description: Statement rows and totals
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      month:
                        type: string
                      tz:
                        type: string
                      group_by:
                        type: string
                      start:
                        type: integer
                        format: int64
                      end:
                        type: integer
                        format: int64
                      rows:
                        type: array
                        items:
                          $ref: '#/components/schemas/StatementRow'
                      totals:
                        $ref: '#/components/schemas/StatementRow'
            text/csv:
              schema:
                type: string
        '400':
          description: Invalid month, tz or group_by
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Neither tenant admin nor department lead
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Statement aggregation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v2/{tenant_slug}/billing/topups:
    get:
      tags: [Billing]
      summary: List Top-ups
      description: Lists user's top-up history
      operationId: getTopUpsV2
      security:
        - OIDCBearer: []
      parameters:
        - $ref: '#/components/parameters/TenantSlug'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Top-up history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopUpList'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ============================================================
  # Log Routes
  # ============================================================

  /api/v2/{tenant_slug}/logs:
    get:
      tags: [Logs]
      summary: Get User Logs
      description: Gets usage logs for the current user
      operationId: getLogsV2
      security:
        - OIDCBearer: []
      parameters:
        - $ref: '#/components/parameters/TenantSlug'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: model
          in: query
          description: Filter by model name
          schema:
            type: string
        - name: start_time
          in: query
          description: Start time (Unix timestamp)
          schema:
            type: integer
        - name: end_time
          in: query
          description: End time (Unix timestamp)
          schema:
            type: integer
      responses:
        '200':
          description: Usage logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogList'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v2/{tenant_slug}/logs/all:
    get:
      tags: [Logs]
      summary: Get All Logs
      description: Gets all users' logs (Admin only)
      operationId: getAllLogsV2
      security:
        - OIDCBearer: [admin]
      parameters:
        - $ref: '#/components/parameters/TenantSlug'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
        - name: user_id
          in: query
          description: Filter by user ID
          schema:
            type: integer
      responses:
        '200':
          description: All logs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ============================================================
  # Redemption Routes
  # ============================================================

  /api/v2/{tenant_slug}/redeem:
    post:
      tags: [Redemptions]
      summary: Redeem Code
      description: |
        Redeems a redemption code and credits the quota to the calling user.
        Mounted at /api/v2/{tenant_slug}/redeem (api-v2-router.go), NOT under
        the /redemptions collection. Guarded by a 5-requests-per-60-seconds
        per-IP limiter because the code itself is the only credential.
      operationId: redeemCodeV2
      security:
        - OIDCBearer: []
      parameters:
        - $ref: '#/components/parameters/TenantSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: >-
                Send the 32-character code as either key or code; key wins when
                both are present.
              properties:
                key:
                  type: string
                  minLength: 32
                  maxLength: 32
                  description: Redemption code (v1-compatible field name)
                code:
                  type: string
                  minLength: 32
                  maxLength: 32
                  description: Redemption code (alias of key)
      responses:
        '200':
          description: Code redeemed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      quota_added:
                        type: integer
                        description: Quota units credited
        '400':
          description: >-
            Missing or malformed code, or the code is unusable (expired,
            already used, unknown). Body carries success=false, message and
            error_code.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          description: >-
            Redemption rate limit exceeded. middleware.RedemptionRateLimit
            (rate-limit.go) allows 5 attempts per 60 s per client IP in the RD
            bucket, because the code itself is the only credential and an
            unthrottled run is code guessing. The reject carries the headers
            below and an EMPTY body - the limiter writes a bare status, not a
            JSON envelope, so a client must branch on the status code, not on
            `success`. If Redis is unreachable this bucket degrades to a
            process-local limiter rather than failing open, which makes the
            effective ceiling (replicas x 5) per 60 s until Redis returns. The
            wider /api/v2 bucket described in info.description applies first.
          headers:
            Retry-After:
              description: Seconds until this IP's redemption window frees a slot.
              schema:
                type: integer
            X-RateLimit-Limit:
              description: Attempts allowed per window. 5 for this bucket.
              schema:
                type: integer
            X-RateLimit-Remaining:
              description: Attempts left in the window. Always 0 on a reject.
              schema:
                type: integer
            X-RateLimit-Scope:
              description: What the bucket is keyed by. Always `ip` here.
              schema:
                type: string
                enum: [ip]
            X-RateLimit-Type:
              description: What is being counted. Always `requests` here.
              schema:
                type: string
                enum: [requests]
        '500':
          description: Hub-side redemption fault (error_code REDEMPTION_FAILED)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v2/{tenant_slug}/redemptions:
    get:
      tags: [Redemptions]
      summary: List Redemption Codes
      description: Lists all redemption codes (Admin only)
      operationId: listRedemptionsV2
      security:
        - OIDCBearer: [admin]
      parameters:
        - $ref: '#/components/parameters/TenantSlug'
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Redemption code list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedemptionList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Redemptions]
      summary: Create Redemption Code
      description: Creates a new redemption code (Admin only)
      operationId: createRedemptionV2
      security:
        - OIDCBearer: [admin]
      parameters:
        - $ref: '#/components/parameters/TenantSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RedemptionCreate'
      responses:
        '201':
          description: Redemption code created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Redemption'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/v2/{tenant_slug}/redemptions/{id}:
    delete:
      tags: [Redemptions]
      summary: Delete Redemption Code
      description: Deletes a redemption code (Admin only)
      operationId: deleteRedemptionV2
      security:
        - OIDCBearer: [admin]
      parameters:
        - $ref: '#/components/parameters/TenantSlug'
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Redemption deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================================
  # Platform Admin Routes
  # ============================================================

  /api/v2/admin/tenants:
    get:
      tags: [Platform Admin]
      summary: List Tenants
      description: Lists all tenants (Platform Admin only)
      operationId: listTenants
      security:
        - SessionAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Tenant list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Platform Admin]
      summary: Create Tenant
      description: Creates a new tenant (Platform Admin only)
      operationId: createTenant
      security:
        - SessionAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantCreate'
      responses:
        '201':
          description: Tenant created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/v2/admin/tenants/{id}:
    get:
      tags: [Platform Admin]
      summary: Get Tenant
      description: Gets a tenant by ID (Platform Admin only)
      operationId: getTenant
      security:
        - SessionAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Tenant details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Platform Admin]
      summary: Update Tenant
      description: Updates a tenant (Platform Admin only)
      operationId: updateTenant
      security:
        - SessionAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantUpdate'
      responses:
        '200':
          description: Tenant updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Platform Admin]
      summary: Delete Tenant
      description: Deletes a tenant (Platform Admin only)
      operationId: deleteTenant
      security:
        - SessionAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Tenant deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v2/admin/tenants/{id}/enable:
    post:
      tags: [Platform Admin]
      summary: Enable Tenant
      operationId: enableTenant
      security:
        - SessionAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Tenant enabled
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v2/admin/tenants/{id}/disable:
    post:
      tags: [Platform Admin]
      summary: Disable Tenant
      operationId: disableTenant
      security:
        - SessionAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Tenant disabled
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v2/admin/tenants/{id}/suspend:
    post:
      tags: [Platform Admin]
      summary: Suspend Tenant
      operationId: suspendTenant
      security:
        - SessionAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Tenant suspended
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v2/admin/tenants/{id}/stats:
    get:
      tags: [Platform Admin]
      summary: Get Tenant Stats
      operationId: getTenantStats
      security:
        - SessionAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Tenant statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantStats'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v2/admin/mappings:
    get:
      tags: [Platform Admin]
      summary: List User Mappings
      operationId: listUserMappingsV2
      security:
        - SessionAuth: []
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: User mapping list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserMappingList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/v2/admin/mappings/{id}:
    get:
      tags: [Platform Admin]
      summary: Get User Mapping
      operationId: getUserMappingV2
      security:
        - SessionAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: User mapping details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserMapping'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Platform Admin]
      summary: Delete User Mapping
      operationId: deleteUserMappingV2
      security:
        - SessionAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Mapping deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v2/admin/stats:
    get:
      tags: [Platform Admin]
      summary: Get System Stats
      operationId: getSystemStatsV2
      security:
        - SessionAuth: []
      responses:
        '200':
          description: System-wide statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemStats'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ============================================================
  # Models
  # ============================================================

  /api/v2/{tenant_slug}/models/performance:
    get:
      tags: [Channels]
      summary: Per-Model Latency and Error Rate
      description: |
        p50/p95 latency and error rate per model over the last `hours`, for
        the caller's tenant only (cached per pod for 5 minutes). Every member
        gets the quality fields; tenant admins also get the volume fields
        (requests, errors, total_tokens, quota, latency_samples).
        `enough_samples` is false below `min_samples` latency samples — the
        percentiles are then noise, not a measurement.
      operationId: listModelPerformanceV2
      security:
        - ZitadelJWT: []
      parameters:
        - $ref: '#/components/parameters/TenantSlug'
        - name: hours
          in: query
          required: false
          schema:
            type: integer
            enum: [1, 24, 168]
            default: 24
      responses:
        '200':
          description: Per-model performance
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  data:
                    type: object
                    properties:
                      hours: { type: integer }
                      cached_at: { type: integer, format: int64 }
                      min_samples: { type: integer }
                      items:
                        type: array
                        items:
                          type: object
                          properties:
                            model_name: { type: string }
                            p50_latency_ms: { type: integer }
                            p95_latency_ms: { type: integer }
                            error_rate: { type: number }
                            enough_samples: { type: boolean }
        '400':
          description: hours is not one of 1, 24, 168 (INVALID_WINDOW)
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/v2/{tenant_slug}/models:
    get:
      tags: [Channels]
      summary: List Model Catalog
      description: |
        Paginated model catalogue with a whitelist projection. This is NOT the
        OpenAI /v1/models envelope - that one belongs to the relay surface and
        is documented in relay.json.
      operationId: listModelsV2
      security:
        - OIDCBearer: []
      parameters:
        - $ref: '#/components/parameters/TenantSlug'
        - name: limit
          in: query
          description: Page size, 1-100 (values above 100 are clamped)
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: keyword
          in: query
          description: Substring match on the model name
          schema:
            type: string
        - name: vendor
          in: query
          description: Filter by vendor name
          schema:
            type: string
      responses:
        '200':
          description: Model catalogue page
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/ModelCatalogEntry'
                      total:
                        type: integer
                      limit:
                        type: integer
                      offset:
                        type: integer
                      vendor_counts:
                        type: object
                        additionalProperties:
                          type: integer
                        description: Model count per vendor name
        '400':
          description: Missing tenant slug or invalid pagination
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Tenant not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

# ============================================================
# Components
# ============================================================

  # ============================================================
  # Enterprise tenant self-service (batch keys, project members, invites,
  # member roles, audit trail, model allow-list)
  # ============================================================

  /api/v2/{tenant_slug}/tokens/batch:
    post:
      tags:
      - Tokens
      summary: Batch Create Tokens (roster)
      description: 'Issues one key per employee of a roster. Tenant admin only. At most 500 items, all-or-nothing in one transaction. Idempotent per employee_ref: an employee that already has a live key is reported under skipped and not re-issued. The plaintext keys of newly created tokens appear in this response only. Keys are owned by the tenant payer (409 payer_not_set when none is configured) and are never trusted-gateway keys.'
      operationId: batchCreateTokensV2
      security: &id001
      - OIDCBearer: []
      parameters:
      - &id002
        $ref: '#/components/parameters/TenantSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchTokenCreate'
      responses:
        '201':
          description: Keys created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/BatchTokenResult'
        '200':
          description: Every employee already had a key; nothing created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/BatchTokenResult'
        '400':
          description: Invalid item (error_code TOKEN_BATCH_INVALID) or too many items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Tenant admin role required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: employee_ref conflict, or the tenant has no payer (error_code payer_not_set)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/{tenant_slug}/projects/{id}/members:
    get:
      tags:
      - Projects
      summary: List Project Members
      description: Lists the members (department leads) of a project. Tenant admin only; a project of another tenant is 404.
      operationId: listProjectMembersV2
      security: *id001
      parameters:
      - *id002
      - name: id
        in: path
        required: true
        schema: &id003
          type: integer
      responses:
        '200':
          description: Members
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/ProjectMember'
        '401': &id004
          $ref: '#/components/responses/Unauthorized'
        '403': &id005
          description: Tenant admin role required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
      - Projects
      summary: Add Project Member
      description: Adds a user to a project; a user with no tenant role becomes dept_lead. Idempotent. Tenant admin only. Not available in the shared default tenant (403 TENANT_ROLE_FORBIDDEN_IN_DEFAULT).
      operationId: addProjectMemberV2
      security: *id001
      parameters:
      - *id002
      - name: id
        in: path
        required: true
        schema: *id003
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - user_id
              properties:
                user_id: *id003
      responses:
        '200':
          description: Added
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401': *id004
        '403': *id005
        '404':
          description: Project or user not found in this tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
      - Projects
      summary: Remove Project Member
      description: Removes a user from a project; a dept_lead left with no projects is demoted. user_id is read from the query string, or from a JSON body.
      operationId: removeProjectMemberV2
      security: *id001
      parameters:
      - *id002
      - name: id
        in: path
        required: true
        schema: *id003
      - name: user_id
        in: query
        required: true
        schema: *id003
      responses:
        '200':
          description: Removed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401': *id004
        '403': *id005
        '404':
          description: Project or user not found in this tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/{tenant_slug}/invites:
    post:
      tags:
      - Tenant Admin
      summary: Issue Tenant Invite
      description: Mints a one-time onboarding code for the caller's own tenant, optionally granting a role and project membership on redeem. ttl_hours defaults to 72, maximum 720. Tenant admin only. The full code is returned only here.
      operationId: issueTenantInviteV2
      security: *id001
      parameters:
      - *id002
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteCreate'
      responses:
        '201':
          description: Invite created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/TenantInvite'
        '400':
          description: Invalid ttl_hours, role or project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401': *id004
        '403': *id005
        '404':
          description: Project not found in this tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags:
      - Tenant Admin
      summary: List Tenant Invites
      description: Lists the tenant's invites, newest first, as a prefix-only projection (never the full code). Tenant admin only.
      operationId: listTenantInvitesV2
      security: *id001
      parameters:
      - *id002
      - &id008
        $ref: '#/components/parameters/Page'
      - &id009
        $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Invites
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      invites:
                        type: array
                        items:
                          $ref: '#/components/schemas/TenantInviteView'
                      total: &id007
                        type: integer
                        format: int64
                      page: *id003
                      page_size: *id003
        '401': *id004
        '403': *id005
  /api/v2/{tenant_slug}/invites/redeem:
    post:
      tags:
      - Tenant Admin
      summary: Redeem Tenant Invite
      description: Applies an invite's role and project grant to the already logged-in caller. Only a code of the caller's own tenant redeems; a foreign or unknown code is indistinguishable (404 INVITE_NOT_FOUND) and a foreign code is not consumed. Expired and revoked codes answer 410, a spent code 409.
      operationId: redeemTenantInviteV2
      security: *id001
      parameters:
      - *id002
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - code
              properties:
                code: &id006
                  type: string
      responses:
        '200':
          description: Redeemed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      tenant_id: *id006
                      member_role: *id006
                      project_id: *id007
        '400':
          description: code is required (INVITE_CODE_REQUIRED)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: INVITE_NOT_FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: INVITE_ALREADY_CONSUMED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '410':
          description: INVITE_EXPIRED or INVITE_REVOKED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/{tenant_slug}/invites/{id}:
    delete:
      tags:
      - Tenant Admin
      summary: Revoke Tenant Invite
      description: Revokes a pending invite of the caller's own tenant. Another tenant's invite id and a spent or already revoked one are both 404. Tenant admin only.
      operationId: revokeTenantInviteV2
      security: *id001
      parameters:
      - *id002
      - name: id
        in: path
        required: true
        schema: *id003
      responses:
        '200':
          description: Revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401': *id004
        '403': *id005
        '404':
          description: INVITE_NOT_FOUND
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/{tenant_slug}/members/{user_id}/role:
    put:
      tags:
      - Tenant Admin
      summary: Set Member Role
      description: Sets a member's tenant role (admin, dept_lead or empty) in the caller's own tenant. Tenant admin only. Refuses to leave the tenant without an admin (409 LAST_TENANT_ADMIN). The payer flag is root-only and ignored here. Not available in the shared default tenant.
      operationId: setTenantMemberRoleV2
      security: *id001
      parameters:
      - *id002
      - name: user_id
        in: path
        required: true
        schema: *id003
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemberRoleSet'
      responses:
        '200':
          description: Role set
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        '400':
          description: TENANT_ROLE_INVALID or missing tenant_role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401': *id004
        '403': *id005
        '404':
          description: User is not a member of this tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: LAST_TENANT_ADMIN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/{tenant_slug}/audit:
    get:
      tags:
      - Tenant Admin
      summary: List Tenant Audit Events
      description: The tenant's own audit trail, newest first. Every query is pinned to the caller's tenant; a tenant_id query parameter is ignored. Details are redacted (channel ids, upstream keys, internal notes). Tenant admin only.
      operationId: listTenantAuditV2
      security: *id001
      parameters:
      - *id002
      - &id010
        name: action
        in: query
        description: Audit action name; unknown names are 400
        schema: *id006
      - &id011
        name: actor_id
        in: query
        schema: *id003
      - &id012
        name: start_time
        in: query
        description: Unix seconds, inclusive
        schema: *id007
      - &id013
        name: end_time
        in: query
        description: Unix seconds
        schema: *id007
      - *id008
      - *id009
      responses:
        '200':
          description: Audit events
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/TenantAuditEvent'
                      total: *id007
                      page: *id003
                      page_size: *id003
        '400':
          $ref: '#/components/responses/BadRequest'
        '401': *id004
        '403': *id005
  /api/v2/{tenant_slug}/audit/export.csv:
    get:
      tags:
      - Tenant Admin
      summary: Export Tenant Audit Events (CSV)
      description: CSV export of the tenant's audit trail, one page per call. When more rows remain the response carries X-Next-Cursor; pass it back as cursor. Same filters, scoping and redaction as the list. Tenant admin only; rate limited.
      operationId: exportTenantAuditCSVV2
      security: *id001
      parameters:
      - *id002
      - *id010
      - *id011
      - *id012
      - *id013
      - name: cursor
        in: query
        description: Value of the previous X-Next-Cursor
        schema: *id007
      - name: limit
        in: query
        schema:
          type: integer
          default: 1000
      responses:
        '200':
          description: CSV page
          headers:
            X-Next-Cursor:
              description: Present when more rows remain
              schema: *id006
          content:
            text/csv:
              schema: *id006
        '400':
          $ref: '#/components/responses/BadRequest'
        '401': *id004
        '403': *id005
        '429':
          description: Rate limited
          headers:
            Retry-After:
              description: Seconds until the next attempt
              schema: *id003
            X-RateLimit-Limit:
              description: Requests allowed per window
              schema: *id003
            X-RateLimit-Remaining:
              description: 0 on a reject
              schema: *id003
            X-RateLimit-Scope:
              description: Which limiter rejected the request
              schema: *id006
            X-RateLimit-Type:
              description: Limiter kind
              schema: *id006
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/{tenant_slug}/models/allowlist:
    get:
      tags:
      - Tenant Admin
      summary: Get Tenant Model Allow-list
      description: Shows the platform-granted model ceiling, the tenant's own narrowing selection and the effective list. Tenant admin only.
      operationId: getTenantModelAllowlistV2
      security: *id001
      parameters:
      - *id002
      responses:
        '200':
          description: Allow-list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/TenantModelAllowlist'
        '401': *id004
        '403': *id005
    put:
      tags:
      - Tenant Admin
      summary: Set Tenant Model Allow-list
      description: Narrows the models the tenant may use. Every entry must be covered by the platform ceiling when one is configured (403 MODEL_NOT_GRANTED); an empty list is an explicit deny-all; selected_models is required. The change reaches every replica within propagation_seconds. Tenant admin only; audited.
      operationId: putTenantModelAllowlistV2
      security: *id001
      parameters:
      - *id002
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - selected_models
              properties:
                selected_models:
                  type: array
                  items: *id006
                  description: Model names or trailing-* patterns
      responses:
        '200':
          description: Saved
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/TenantModelAllowlist'
        '400':
          description: selected_models missing or an invalid entry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Not a tenant admin, or MODEL_NOT_GRANTED
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v2/admin/tenants/{id}/members/{user_id}/role:
    put:
      tags:
      - Platform Admin
      summary: Set Tenant Member Role (root)
      description: Root bootstrap of a tenant's first admin or payer. The user must belong to the addressed tenant (404 otherwise). Same body and error codes as the tenant route, plus the optional payer flag.
      operationId: setTenantMemberRoleAdmin
      security:
      - SessionAuth: []
      parameters:
      - name: id
        in: path
        required: true
        description: Tenant id
        schema: *id006
      - name: user_id
        in: path
        required: true
        schema: *id003
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemberRoleSet'
      responses:
        '200':
          description: Role set
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        '400':
          description: TENANT_ROLE_INVALID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: LAST_TENANT_ADMIN
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    OIDCBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        Bearer token issued by the deployment's configured OIDC provider.
        Which provider that is, is deploy-time configuration; no specific
        vendor is part of this contract.
    SessionAuth:
      type: apiKey
      in: cookie
      name: session
      description: Session cookie for platform admin

  parameters:
    TenantSlug:
      name: tenant_slug
      in: path
      required: true
      description: >-
        Tenant identifier (slug). On routes behind TenantSlugGuard the
        reserved value `~` means "the tenant this session authenticated into";
        the server resolves it from the session, and it is what the console
        sends. An explicit slug must equal that tenant (403 TENANT_MISMATCH
        otherwise). `GET /user/me` reports the real slug as `tenant_slug`.
      schema:
        type: string
        pattern: '^([a-z0-9-]+|~)$'
        example: lurus
    Page:
      name: page
      in: query
      description: Page number (1-based)
      schema:
        type: integer
        minimum: 1
        default: 1
    PageSize:
      name: page_size
      in: query
      description: Items per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    ChannelId:
      name: id
      in: path
      required: true
      schema:
        type: integer
    TokenId:
      name: id
      in: path
      required: true
      schema:
        type: integer
    ChatSessionId:
      name: id
      in: path
      required: true
      schema:
        type: integer

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Forbidden - insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: "Invalid request"

    SessionInfo:
      type: object
      properties:
        user_id:
          type: integer
        username:
          type: string
        email:
          type: string
        display_name:
          type: string
        role:
          type: integer
        tenant_id:
          type: string
        tenant_slug:
          type: string
        tenant_role:
          type: string
          enum:
          - ''
          - admin
          - dept_lead
          description: The caller's tenant role; empty for plain members and in the shared default tenant
        is_payer:
          type: boolean
          description: True when the caller is the tenant's payer

    TokenResponse:
      type: object
      properties:
        access_token:
          type: string
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
          description: Seconds until expiration

    User:
      type: object
      properties:
        id:
          type: integer
        username:
          type: string
        email:
          type: string
        display_name:
          type: string
        role:
          type: integer
        status:
          type: integer
        quota:
          type: integer
        used_quota:
          type: integer
        created_at:
          type: integer
          description: Unix timestamp

    UserUpdate:
      type: object
      properties:
        display_name:
          type: string
          maxLength: 50

    Channel:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        type:
          type: integer
        base_url:
          type: string
        models:
          type: string
        status:
          type: integer
        priority:
          type: integer
        weight:
          type: integer

    ChannelCreate:
      type: object
      required: [name, type, key]
      properties:
        name:
          type: string
        type:
          type: integer
        key:
          type: string
        base_url:
          type: string
        models:
          type: string
        group:
          type: string
        priority:
          type: integer
          default: 0
        weight:
          type: integer
          default: 1

    ChannelUpdate:
      type: object
      properties:
        name:
          type: string
        key:
          type: string
        base_url:
          type: string
        models:
          type: string
        status:
          type: integer
        priority:
          type: integer
        weight:
          type: integer

    ChannelList:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/Channel'
        total:
          type: integer

    Token:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        key:
          type: string
          description: Masked key (sk-xxx...xxx)
        status:
          type: integer
        quota:
          type: integer
        used_quota:
          type: integer
        expired_time:
          type: integer
        created_at:
          type: integer

    TokenWithKey:
      allOf:
        - $ref: '#/components/schemas/Token'
        - type: object
          properties:
            full_key:
              type: string
              description: Full API key (only shown once)

    TokenCreate:
      type: object
      required: [name]
      properties:
        name:
          type: string
          maxLength: 50
        quota:
          type: integer
          minimum: 0
        expired_time:
          type: integer
          description: Unix timestamp, -1 for never

    TokenUpdate:
      type: object
      properties:
        name:
          type: string
        status:
          type: integer
        quota:
          type: integer
        expired_time:
          type: integer

    TokenList:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/Token'
        total:
          type: integer

    TopUpList:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              amount:
                type: number
              quota:
                type: integer
              status:
                type: string
              created_at:
                type: integer
        total:
          type: integer

    StatementRow:
      type: object
      properties:
        key: {type: string}
        label: {type: string}
        requests: {type: integer, format: int64}
        quota: {type: integer, format: int64}
        charged_cny4: {type: integer, format: int64}
        priced_cny4: {type: integer, format: int64}
    InvoiceMonth:
      type: object
      description: One calendar month of billable spend.
      properties:
        month:
          type: string
          description: YYYY-MM
        quota:
          type: integer
          format: int64
          description: Billable quota units consumed
        amount_cny:
          type: number
          description: "Amount charged for the month in CNY: the wallet charge recorded at settlement for each request that has one (logs.charged_cny4), the record-time price (logs.priced_cny4) for billable rows the wallet did not pay (credit-pool / local-quota spend), and only for rows that carry neither record the quota priced at the current exchange rate (QuotaPerUnit / USDExchangeRate quota per CNY). Changing the exchange rate re-prices only that last share; see estimated."
        estimated:
          type: boolean
          description: "True when part of amount_cny was priced at the current exchange rate because some billable row predates logs.priced_cny4 (migration 042); that part changes when the rate is edited. False means every row carries a recorded figure and the amount is final."
        request_count:
          type: integer
          format: int64
          description: Number of billable log rows
        unbilled_quota:
          type: integer
          format: int64
          description: >-
            Quota logged but excluded from billing (settlement-failed or
            channel-test rows)
        unbilled_request_count:
          type: integer
          format: int64
          description: Number of log rows excluded from billing

    LogList:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              user_id:
                type: integer
              model:
                type: string
              prompt_tokens:
                type: integer
              completion_tokens:
                type: integer
              quota:
                type: integer
              created_at:
                type: integer
        total:
          type: integer

    Redemption:
      type: object
      properties:
        id:
          type: integer
        code:
          type: string
        quota:
          type: integer
        count:
          type: integer
        used_count:
          type: integer
        status:
          type: integer
        created_at:
          type: integer

    RedemptionCreate:
      type: object
      required: [quota, count]
      properties:
        quota:
          type: integer
          minimum: 1
        count:
          type: integer
          minimum: 1
          maximum: 100

    RedemptionList:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/Redemption'
        total:
          type: integer

    Tenant:
      type: object
      properties:
        id:
          type: integer
        slug:
          type: string
        name:
          type: string
        zitadel_org_id:
          type: string
        status:
          type: string
          enum: [active, disabled, suspended]
        created_at:
          type: integer

    TenantCreate:
      type: object
      required: [slug, name, zitadel_org_id]
      properties:
        slug:
          type: string
          pattern: '^[a-z0-9-]+$'
        name:
          type: string
        zitadel_org_id:
          type: string

    TenantUpdate:
      type: object
      properties:
        name:
          type: string
        status:
          type: string

    TenantList:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/Tenant'
        total:
          type: integer

    TenantStats:
      type: object
      properties:
        user_count:
          type: integer
        token_count:
          type: integer
        channel_count:
          type: integer
        total_quota:
          type: integer
        used_quota:
          type: integer

    UserMapping:
      type: object
      properties:
        id:
          type: integer
        zitadel_user_id:
          type: string
        lurus_user_id:
          type: integer
        tenant_id:
          type: string
        created_at:
          type: integer

    UserMappingList:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/UserMapping'
        total:
          type: integer

    SystemStats:
      type: object
      properties:
        tenant_count:
          type: integer
        total_users:
          type: integer
        total_requests:
          type: integer
        total_tokens:
          type: integer

    ModelCatalogEntry:
      type: object
      description: Whitelist projection of a catalogue model row.
      properties:
        id:
          type: integer
        model_name:
          type: string
        vendor:
          type: string
          description: Vendor display name, empty when unknown
        name_rule:
          type: integer
        status:
          type: integer
        quota_types:
          type: array
          items:
            type: integer
        enable_groups:
          type: array
          items:
            type: string
        endpoints:
          type: string
        created_time:
          type: integer
          format: int64

    BatchTokenItem:
      type: object
      required:
      - employee_ref
      properties:
        name:
          type: string
          description: Defaults to employee_ref
        employee_ref:
          type: string
          pattern: ^[A-Za-z0-9._@:-]{1,64}$
        project_id:
          type: integer
          minimum: 0
          description: 0 = no project
        remain_quota:
          type: integer
          minimum: 0
        unlimited_quota:
          type: boolean
        model_limits:
          type: string
          description: Comma separated model list; empty = no limit
    BatchTokenCreate:
      type: object
      required:
      - tokens
      properties:
        tokens:
          type: array
          minItems: 1
          maxItems: 500
          items:
            $ref: '#/components/schemas/BatchTokenItem'
    BatchTokenResult:
      type: object
      properties:
        created:
          type: array
          items:
            type: object
            properties:
              id: &id002
                type: integer
              name: &id001
                type: string
              employee_ref: *id001
              project_id: *id002
              key:
                type: string
                description: Plaintext key, returned only in this response
        skipped:
          type: array
          description: Employees that already had a live key; not re-issued
          items:
            type: object
            properties:
              employee_ref: *id001
              id: *id002
              name: *id001
        requested: *id002
    ProjectMember:
      type: object
      properties:
        user_id: *id002
        username: *id001
        display_name: *id001
        tenant_role: *id001
        added_at: &id003
          type: integer
          format: int64
    TenantInvite:
      type: object
      properties:
        id: *id002
        tenant_id: *id001
        code:
          type: string
          description: One-time onboarding code; the full value is returned only when the invite is created (list responses carry code_prefix)
        status:
          type: integer
          description: 1 pending, 2 consumed, 3 revoked
        expired_time:
          type: integer
          format: int64
          description: Unix seconds, 0 = never
        created_by_user_id: *id002
        consumed_by_account_id:
          type: integer
          format: int64
          nullable: true
        consumed_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        member_role:
          type: string
          enum:
          - ''
          - admin
          - dept_lead
        project_id: *id003
        revoked_at: *id003
    TenantInviteView:
      type: object
      description: 'List projection: the code prefix only, never the full code'
      properties:
        id: *id002
        code_prefix: *id001
        status: *id002
        expired_time: *id003
        consumed_by_account_id:
          type: integer
          format: int64
          nullable: true
        consumed_at:
          type: string
          format: date-time
          nullable: true
        created_by_user_id: *id002
        created_at:
          type: string
          format: date-time
        member_role: *id001
        project_id: *id003
        expires_at: *id003
        revoked_at: *id003
        used:
          type: boolean
        revoked:
          type: boolean
        expired:
          type: boolean
    InviteCreate:
      type: object
      properties:
        ttl_hours:
          type: integer
          minimum: 1
          maximum: 720
          default: 72
        member_role:
          type: string
          enum:
          - ''
          - admin
          - dept_lead
        project_id:
          type: integer
          format: int64
          minimum: 0
    MemberRoleSet:
      type: object
      required:
      - tenant_role
      properties:
        tenant_role:
          type: string
          enum:
          - admin
          - dept_lead
          - ''
          description: Empty string = plain member
        payer:
          type: boolean
          description: 'Root route only: mark this user as the tenant payer (owner of admin-issued keys). Ignored on the tenant route.'
    TenantAuditEvent:
      type: object
      description: 'Tenant-safe projection of an audit event: no hash chain, details redacted (channel ids, upstream keys and internal notes are masked)'
      properties:
        id: *id003
        timestamp: *id003
        actor_type: *id001
        actor_id: *id002
        action: *id001
        resource: *id001
        resource_id: *id002
        ip: *id001
        request_id: *id001
        details: *id001
    TenantModelAllowlist:
      type: object
      properties:
        platform_allowed:
          type: array
          items: *id001
          description: Ceiling granted by the platform (names or trailing-* patterns)
        platform_unrestricted:
          type: boolean
          description: True when the platform configured no ceiling
        tenant_selected:
          type: array
          items: *id001
        tenant_configured:
          type: boolean
        effective:
          type: array
          items: *id001
        propagation_seconds:
          type: integer
          description: 'Present on PUT: upper bound before every replica serves the new list'
